{{!-- SINGLE FEATURE CARD --}}
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <img src="https://pyxis.nymag.com/v1/imgs/978/4d0/4b4779e1dcb86984abe55c08366f9babe7-13-empty-theater.rsquare.w700.jpg"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">FEATURE TITLE</h5>
    </div>
    <div class="card-body">
        <div class="accordion" id="accordionExample">

            {{!-- description --}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        DESCRIPTION
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, et
                        iusto? Labore quidem asperiores nesciunt ratione sit distinctio soluta, id molestias mollitia
                        quam veritatis quia placeat dolore, eaque minima quis?
                    </div>
                </div>
            </div>

            {{!-- cast --}}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        CAST
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aperiam
                        atque deserunt? Nisi enim eaque eum maxime tenetur, repudiandae inventore cumque quod magnam
                        esse! Adipisci odio voluptates atque sint qui!</div>
                </div>
            </div>
        </div>
    </div>

    {{!-- buttons --}}
    <div class="card-body d-grid gap-2">
        <button class="btn btn-primary" type="button">ADD TO BUCKET</button>
        <!-- REVIEW Button trigger modal -->
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#reviewButtonModal">REVIEWS
            <span class="badge bg-dark">10</span></button>
        {{!-- link to streaming service --}}
        <button class="btn btn-primary" type="button">WATCH ON "PLATFORM"</button>
    </div>
</div>