{{!-- SINGLE REVIEW CARD --}}
{{> review-card review}}
<div class="card text-white bg-dark mb-3 w-100">
    <div class="card-body">
        <h5 class="card-title">{{user.username}} on {{created_at}}</h5>
        <p class="card-text">
            {{review_text}}
        </p>
        {{!-- ADD COMMENT to post BUTTON, will move/ will bring popup for input --}}
        <button type="button" class="addComment btn btn-outline-light">Write Comment</button>
        {{!-- COMMENT ACCORDIAN --}}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed bg-dark btn-outline-light text-light" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Comments
                        {{!-- number of comments tag --}}
                        <span class="badge bg-dark">{{review.comments.length}}</span>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{> comments review.comments}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/javascript/comment.js"></script>