{{!-- REVIEW CONTAINER COLUMN (WILL EDIT) --}}
<div class="col-12">



<article class="review">
    <div class="show-title">
        <a href="{{review_url}}" target="_blank">{{show-title}}</a>
        <span>({{format_url review_url}})</span>
    </div>
    <div class="meta">
        {{!--need to finish  --}}
    </div>
</article>




</div>