<!doctype html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" src="public/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/874385ec2a.js" crossorigin="anonymous"></script>
  <title>Binge Bucket</title>
</head>

<body class="bg-secondary text-white">

  <div class="container">
    <div class="row">
      {{!-- Nav Bar --}}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fs-2" href="/">
            BingeBucket</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              {{#if loggedIn}}
              <li class="nav-item">
                <a class="nav-link" id="logout">Logout</a>
              </li>
              {{/if}}
            </ul>
            <div class="row">
              {{!-- Where's My Show Streaming Search Bar --}}
              <div class="input-group mw-70">
                <input type="text" class="form-control" id="streamFinderInput" placeholder="Stream Finder Search"
                  aria-label="Stream Finder Search" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="streamFinderButton">></button>
              </div>
            </div>
          </div>
        </div>
      </nav>
      {{!-- Nav Bar End --}}
    </div>

    <div class="row">
      {{!-- GET ALL per service Links --}}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid mb-3">
          <div class="card-group">
            <div class="card bg-body">
              <img src="../assets/images/netflixLogo.png" class="card-img" id="getNetflix" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="..\assets\images\HULU.png" class="card-img" id="getHulu" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="../assets\images\AMAZON.png" class="card-img" id="getPrime" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="../assets\images\SHOWTIME.png" class="card-img" id="getShowtime" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="..\assets\images\APPLE.png" class="card-img" id="getApple" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="..\assets\images\PARAMOUNT.jpg" class="card-img" id="getParamount" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="..\assets\images\DISNEy.png" class="card-img" id="getDisney" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="..\assets\images\HBO.jpg" class="card-img" id="getHBO" type="button" alt="...">
            </div>
            <div class="card bg-body">
              <img src="../assets\images\PEACOCK.png" class="card-img" id="getPeacock" type="button" alt="...">
            </div>
          </div>
        </div>
      </nav>
    </div>
    {{!-- END GET ALL per service Links --}}
  </div>


  {{!-- Main Import--}}
  <main>
    {{{ body }}}
  </main>
  {{!-- Main Import End --}}

  {{!-- Foooter --}}
  <div class="row mx-auto">
    <div class="col-12 bg-dark ">
      <footer>
        &copy; Proudly presented by the BingeBucket Team
      </footer>
    </div>
  </div>
  {{!-- Footer End --}}

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>