<div class="container">


  <div class="row">
    <div class="bg-dark bucketPane col">


      {{!-- Login Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Login Form --}}
          <form class="login-form">
            <div class="form-floating mb-1">
              <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
              <label for="email-login">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-login" placeholder="Password">
              <label for="password-login">Password</label>
            </div>
            <div class="d-grid">
              <button class="btn btn-body text-light" type="submit">Login</button>
            </div>
          </form>
          {{!-- End Login Form --}}
        </div>
      </div>

      {{!-- Sign-up Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Sign-up Form --}}
          <form class="signup-form">

            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="username-signup">
              <label for="username-signup">Username</label>
            </div>
            <div class="form-floating mb-1">
              <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
              <label for="email-signup">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-signup" placeholder="Password">
              <label for="password-signup">Password</label>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-body text-light" type="submit">Join BingeBucket</button>
            </div>
          </form>
          {{!-- End Sign-up Form --}}
        </div>
      </div>

    </div>

    <<<<<<< HEAD <div class="mainView col-8 my-2">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{!-- Netflix --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Netflix" aria-label="Search Netflix"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
              </div>
            </div>
          </div>
          =======
          {{!-- Amazon Prime --}}
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/amazonPrimeVideoLogo.jpg" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Prime" aria-label="Search Prime"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                >>>>>>> 72a7a0d7d50628d7fc48b9796b83f56174b2f847
              </div>

              <<<<<<< HEAD {{!-- Hulu --}} <div class="col">
                <div class="card h-100 bg-body">
                  <img src="../assets/images/netflixLogo.png" alt="logo">
                  <div class="card-body">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Search Hulu" aria-label="Search Hulu"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                    </div>
                  </div>
                </div>
                =======
                {{!-- Showtime --}}
                <div class="card" style="width: 18rem;">
                  <img src="../assets/images/showtimeLogo.jpg" alt="logo">
                  <div class="card-body">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Search Showtime" aria-label="Search Showtime"
                        aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                      >>>>>>> 72a7a0d7d50628d7fc48b9796b83f56174b2f847
                    </div>


                    <<<<<<< HEAD {{!-- Amazon Prime --}} <div class="col">
                      <div class="card h-100 bg-body">
                        <img src="../assets/images/netflixLogo.png" alt="logo">
                        <div class="card-body">
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search Prime" aria-label="Search Prime"
                              aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                          </div>
                        </div>
                      </div>
                      =======
                      {{!-- Apple TV --}}
                      <div class="card" style="width: 18rem;">
                        <img src="../assets/images/appleTvLogo.png" alt="logo">
                        <div class="card-body">
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search AppleTV"
                              aria-label="Search AppleTV" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                            >>>>>>> 72a7a0d7d50628d7fc48b9796b83f56174b2f847
                          </div>

                          <<<<<<< HEAD {{!-- Showtime --}} <div class="col">
                            <div class="card h-100 bg-body">
                              <img src="../assets/images/netflixLogo.png" alt="logo">
                              <div class="card-body">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Search Showtime"
                                    aria-label="Search Showtime" aria-describedby="button-addon2">
                                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                                </div>
                              </div>
                            </div>
                            =======
                            {{!-- Paramount --}}
                            <div class="card" style="width: 18rem;">
                              <img src="../assets/images/paramountPlusLogo.jpg" alt="logo">
                              <div class="card-body">
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control" placeholder="Search Paramount"
                                    aria-label="Search Paramount" aria-describedby="button-addon2">
                                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                                  >>>>>>> 72a7a0d7d50628d7fc48b9796b83f56174b2f847
                                </div>

                                <<<<<<< HEAD {{!-- Apple TV --}} <div class="col">
                                  <div class="card h-100 bg-body">
                                    <img src="../assets/images/netflixLogo.png" alt="logo">
                                    <div class="card-body">
                                      <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Search AppleTV"
                                          aria-label="Search AppleTV" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                          id="button-addon2">></button>
                                      </div>
                                    </div>
                                  </div>
                                  =======
                                  {{!-- Disney --}}
                                  <div class="card" style="width: 18rem;">
                                    <img src="../assets/images/disneyPlusLogo.jpg" alt="logo">
                                    <div class="card-body">
                                      <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Search DisneyPlus"
                                          aria-label="Search DisneyPlus" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" type="button"
                                          id="button-addon2">></button>
                                        >>>>>>> 72a7a0d7d50628d7fc48b9796b83f56174b2f847
                                      </div>

                                      {{!-- Paramount --}}
                                      <div class="col">
                                        <div class="card h-100 bg-body">
                                          <img src="../assets/images/netflixLogo.png" alt="logo">
                                          <div class="card-body">
                                            <div class="input-group mb-3">
                                              <input type="text" class="form-control" placeholder="Search Paramount"
                                                aria-label="Search Paramount" aria-describedby="button-addon2">
                                              <button class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">></button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <<<<<<< HEAD {{!-- Disney --}} <div class="col">
                                        <div class="card h-100 bg-body">
                                          <img src="../assets/images/netflixLogo.png" alt="logo">
                                          <div class="card-body">
                                            <div class="input-group mb-3">
                                              <input type="text" class="form-control" placeholder="Search DisneyPlus"
                                                aria-label="Search DisneyPlus" aria-describedby="button-addon2">
                                              <button class="btn btn-outline-secondary" type="button"
                                                id="button-addon2">></button>
                                            </div>
                                          </div>
                                        </div>
                                    </div>



                                    {{!-- HBO --}}
                                    <div class="col">
                                      <div class="card h-100 bg-body">
                                        <img src="../assets/images/netflixLogo.png" alt="logo">
                                        <div class="card-body">
                                          <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Search HBO"
                                              aria-label="Search HBO" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button"
                                              id="button-addon2">></button>
                                          </div>
                                        </div>
                                      </div>
                                      =======
                                      {{!-- HBO --}}
                                      <div class="card" style="width: 18rem;">
                                        <img src="../assets/images/hboLogo.jpg" alt="logo">
                                        <div class="card-body">
                                          <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Search HBO"
                                              aria-label="Search HBO" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" type="button"
                                              id="button-addon2">></button>
                                            >>>>>>> 72a7a0d7d50628d7fc48b9796b83f56174b2f847
                                          </div>

                                          <<<<<<< HEAD {{!-- Peacock --}} <div class="col">
                                            <div class="card h-100 bg-body">
                                              <img src="../assets/images/netflixLogo.png" alt="logo">
                                              <div class="card-body">
                                                <div class="input-group mb-3">
                                                  <input type="text" class="form-control" placeholder="Search Peacock"
                                                    aria-label="Search Peacock" aria-describedby="button-addon2">
                                                  <button class="btn btn-outline-secondary" type="button"
                                                    id="button-addon2">></button>
                                                </div>
                                              </div>
                                            </div>
                                            =======
                                            {{!-- Peacock --}}
                                            <div class="card" style="width: 18rem;">
                                              <img src="../assets/images/peacockLogo.jpg" alt="logo">
                                              <div class="card-body">
                                                <div class="input-group mb-3">
                                                  <input type="text" class="form-control" placeholder="Search Peacock"
                                                    aria-label="Search Peacock" aria-describedby="button-addon2">
                                                  <button class="btn btn-outline-secondary" type="button"
                                                    id="button-addon2">></button>
                                                  >>>>>>> 72a7a0d7d50628d7fc48b9796b83f56174b2f847
                                                </div>


                                              </div>
                                            </div>
                                        </div>




















                                      </div>
                                    </div>


                                    {{!--
                                    <script> APICALL</script> --}}
                                  </div>