<div class="container">
  <div class="row">
    <div class="bg-dark min-vh-100 bucketPane col">
      {{#if loggedIn}}


      <div class="card-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="descriptionButton accordion-button collapsed bg-light" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                My Movies
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">

              <div class="accordion-body">
                
              </div>

            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="castButton accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                My Shows
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse bg-secondary" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">

              <div class="accordion-body">
                {{#each featureBucket}}

                {{/each}}
              </div>

            </div>
          </div>
        </div>
      </div>


























      <p>WORKS</p>
      {{else}}
      {{!-- Login Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Login Form --}}
          <form class="login-form">
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="email-login" placeholder="name@example.com">
              <label for="email-login">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-login" placeholder="Password">
              <label for="password-login">Password</label>
            </div>
            <div class="d-grid">
              <button class="btn btn-body text-light" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
      {{!-- End Login Card --}}

      {{!-- Sign-up Card --}}
      <div class="card text-dark bg-dark border-light my-2">
        <div class="card-body">
          {{!-- Sign-up Form --}}
          <form class="signup-form">
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="username-signup">
              <label for="username-signup">Username</label>
            </div>
            <div class="form-floating mb-1">
              <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
              <label for="email-signup">Email</label>
            </div>
            <div class="form-floating mb-1">
              <input type="password" class="form-control" id="password-signup" placeholder="Password">
              <label for="password-signup">Password</label>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-body text-light" type="submit">Join BingeBucket</button>
            </div>
          </form>
        </div>
      </div>
      {{!-- End Sign-up Card --}}
      {{/if}}

      {{!-- Foooter --}}
      <div class="row">
        <div class="col-12">
          <footer>
            &copy; Proudly presented by the Binge Bucket Team
          </footer>
        </div>
      </div>
      {{!-- Footer End --}}

    </div>

    {{!-- MainView Start --}}
    <div class="mainView col-8 my-2">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {{!-- Netflix --}}
        <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" idclass="form-control" placeholder="Search Netflix" aria-label="Search Netflix"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchNetflixButton">></button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Hulu --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Hulu" aria-label="Search Hulu"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchHuluButton">></button>
              </div>
            </div>
          </div>
        </div> --}}

        {{!-- Amazon Prime --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Prime" aria-label="Search Prime"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchPrimeButton">></button>
              </div>
            </div>
          </div>
        </div> --}}

        {{!-- Showtime --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Showtime" aria-label="Search Showtime"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchShowtimeButton">></button>
              </div>
            </div>
          </div>
        </div> --}}

        {{!-- Apple TV --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search AppleTV" aria-label="Search AppleTV"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchAppleButton">></button>
              </div>
            </div>
          </div>

        </div> --}}

        {{!-- Paramount --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Paramount" aria-label="Search Paramount"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchParamountButton">></button>
              </div>
            </div>
          </div>
        </div> --}}


        {{!-- Disney --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search DisneyPlus" aria-label="Search DisneyPlus"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchDisneyButton">></button>
              </div>
            </div>
          </div>
        </div> --}}



        {{!-- HBO --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search HBO" aria-label="Search HBO"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchHBOButton">></button>
              </div>
            </div>
          </div>
        </div> --}}


        {{!-- Peacock --}}
        {{!-- <div class="col">
          <div class="card h-100 bg-body">
            <img src="../assets/images/netflixLogo.png" alt="logo">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Peacock" aria-label="Search Peacock"
                  aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="searchPeacockButton">></button>
              </div>
            </div>
          </div>
        </div> --}}



      </div>

      <div id="cardBox">

      </div>





    </div>
  </div>
</div>


<script src="/javascript/login.js"></script>
<script src="/javascript/streamAPI.js"></script>
