<div class="container">
  <div class="row">


    {{!-- Netflix --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/netflixLogo.png" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Netflix" aria-label="Search Netflix"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>

    {{!-- Hulu --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/huluLogo.jpeg" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Hulu" aria-label="Search Hulu"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>

    {{!-- Amazon Prime --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/amazonPrimeVideoLogo.jpg" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Prime" aria-label="Search Prime"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>

    {{!-- Showtime --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/showtimeLogo.jpg" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Showtime" aria-label="Search Showtime"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>


    {{!-- Apple TV --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/appleTvLogo.png" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search AppleTV" aria-label="Search AppleTV"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>

    {{!-- Paramount --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/paramountPlusLogo.jpg" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Paramount" aria-label="Search Paramount"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>

    {{!-- Disney --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/disneyPlusLogo.jpg" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search DisneyPlus" aria-label="Search DisneyPlus"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>


    {{!-- HBO --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/hboLogo.jpg" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search HBO" aria-label="Search HBO"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>

    {{!-- Peacock --}}
    <div class="card" style="width: 18rem;">
      <img src="../assets/images/peacockLogo.jpg" alt="logo">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search Peacock" aria-label="Search Peacock"
            aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
        </div>
      </div>
    </div>




  </div>
  
</div>
<script src= '/javascript/streamAPI.js'></script>