<div class="container">
  <div class="row">
    <div class="bg-dark min-vh-100 bucketPane col">
      {{!-- {{#if loggedIn}} --}}
      <div class="card-body d-grid gap-2">
        <button class="add2BucketButton btn btn-light border-light" type="button"><strong>My Bucket</strong></button>
      </div>

      <div class="mainView row row-cols-1 row-cols-md-3 g-4">
        <div id="start-cards">

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/searchPage.js"></script>